<div class="feed container">
    <div class="row justify-content-center">
        <div class="feed__item col" (click)="goTo('ebook')">
            <div class="feed__item--color">
                <span></span>
                <mat-icon>book</mat-icon>
            </div>
            <h2 class="feed__item--label">E-books</h2>
        </div>

        <div class="feed__item col" (click)="goTo('video')">
            <div class="feed__item--color">
                <span></span>
                <mat-icon>smart_display</mat-icon>
            </div>
            <h2 class="feed__item--label">Vídeo</h2>
        </div>

        <div class="feed__item col" (click)="goTo('manual')">
            <div class="feed__item--color">
                <span></span>
                <mat-icon>menu_book</mat-icon>
            </div>
            <h2 class="feed__item--label">Manuais</h2>
        </div>
        
        <div class="feed__item col" routerLink="/forum/listagem">
            <div class="feed__item--color">
                <span></span>
                <mat-icon>people</mat-icon>
            </div>
            <h2 class="feed__item--label">Fórum</h2>
        </div>

        <div class="feed__item col" (click)="goTo('artigo')">
            <div class="feed__item--color">
                <span></span>
                <mat-icon>description</mat-icon>
            </div>
            <h2 class="feed__item--label">Artigos</h2>
        </div>

        <div class="feed__item col" (click)="goTo('banner')">
            <div class="feed__item--color">
                <span></span>
                <mat-icon>co_present</mat-icon>
            </div>
            <h2 class="feed__item--label">Banners</h2>
        </div>
    </div>
</div>