<div class="container">
    <div class="row">
        <mat-card (click)="goTo('ebook')" class="col m-3">
            <mat-card-title>E-books</mat-card-title>
            <img src="assets/image/ebook.png" mat-card-image>
        </mat-card>
        <mat-card (click)="goTo('video')" class="col m-3">
            <mat-card-title>Vídeo</mat-card-title>
            <img src="assets/image/video.png" mat-card-image>
        </mat-card>
        <mat-card (click)="goTo('manual')" class="col m-3">
            <mat-card-title>Manuais</mat-card-title>
            <img src="assets/image/manual.png" mat-card-image>
        </mat-card>
        <mat-card class="col m-3">
            <a href="forum/listagem">
                <mat-card-title>Forum</mat-card-title>
                <img src="assets/image/forum.png" mat-card-image>
            </a>
        </mat-card>
    </div>
    <div class="row justify-content-center">
        <mat-card (click)="goTo('artigo')" class="col-3 m-3">
            <mat-card-title>Artigo</mat-card-title>
            <img src="assets/image/artigo.png" mat-card-image>
        </mat-card>
        <mat-card (click)="goTo('banner')" class="col-3 m-3">
            <mat-card-title>Banners</mat-card-title>
            <img src="assets/image/banner.png" mat-card-image>
        </mat-card>

    </div>
</div>