nav{
    background-color: #550504;
    box-shadow: 0px 5px 5px black;
}
a{
    margin-right: 10px;
    text-decoration: none;
    color: white;
}
p{
    margin-right: 10px;
    color: white;
    cursor: pointer;
}