header {
  background-color: #198662;
  padding: 10px;
  color: white;
  font-weight: 800;
}
img {
  width: 40px;
}
h1 {
  font-size: 40px;
  margin-top: 10px;
  margin-bottom: 0px;
}
a {
  text-decoration: none;
  color: white;
}

.icons {
  button {
    border: none;
    background: none;
    color: #550504;
    padding: 4px;
    margin: 0 8px;
  }
}
