h1{
    color: #550504;
    font-size: 36px;
}
h3{
    color: #0000007a;
}
pdf-viewer{
    max-width: 100%;
}
.btn{
    margin:20px 0px;
    background-color: #198662;
    border: none;
    color: white;
}