.search-results {
    width: 100%;
    &__grid {
        padding: 24px;
        display: flex;
        flex-wrap: wrap;

        &--item {
            margin: 16px;
            width: fit-content;
        }
    }
}