<app-header></app-header>
<app-navbar></app-navbar>
<button *ngIf="user?.tipoUsuario !== 'aluno'" class="btn mx-5"  (click)="Excluir()">Excluir Post</button>
<button class="btn mx-5" (click)="backTo(post.categoryId)">Voltar</button>
<div class="d-flex flex-column align-items-center mt-5" *ngIf="post">
    <h1>{{ post.title }}</h1>
    <h3 *ngIf=post.descricao>{{ post.descricao}}</h3>
    <p>Publicado por: {{post.tbuser.nome}} </p>
    <p>Data de criação: {{date}}</p>
    <iframe width="720" height="480" [src]='post.link' frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
</div>
