@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
h1{
    color: #550504;
    font-size: 36px;
}
h3, p{
    color: #0000007a;
    margin: 0px !important;
}
pdf-viewer{
    width: 280px;
    max-width: 100%;
    @include media-breakpoint-up(md) {
        width: 800px !important;
    } 
}
.btn{
    margin:20px 0px;
    background-color: #198662;
    border: none;
    color: white;
}