.login {
  background-color: #22af80;
  width: 100%;
  height: 100vh;
  padding: 40px 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  @media screen and (min-width: 768px) {
    padding-bottom: 80px;
  }
  img{
    height: 40%;
  }
  &__header {
    width: 100%;
    height: 160px;
    h1{
      margin-top: 40px;
      font-size: 30px;
      color: #920611;
      margin-left: 10px;
      font-weight: 700;
    }
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__form {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    @media screen and (min-width: 768px) {
      width: 80%;
      max-width: 560px;
      height: 560px;
    }

    a {
      color: #920611;
    }
  }

  &__input {
    width: 100%;
    label {
      font-size: 18px;
      font-weight: bold;
    }

    input {
      width: 100%;
      height: 64px;

      padding: 8px 16px;

      background-color: #E5E5E5;
      border: none;
      border-radius: 16px;
    }
  }

  &__forgot-password {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
  }

  &__submit {
    width: 90%;
    height: 64px;

    background-color: #920611;
    border: none;
    border-radius: 16px;
    color: white;

    font-size: 18px;
    font-weight: bold;
  }

  &__go-to-register {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
  }
}
label{
  color: white;
}
p{
  color: white;
}