@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
.create-post {
    padding: 24px;
    &__textarea {
        margin-bottom: 24px;
    }
    &__submit {
        display: flex;
        justify-content: flex-end;
        button {
            padding: 8px;
            border: none;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: bold;
            background-color: #550504;
        }
    }
    input, select, textarea{
        @include media-breakpoint-up(lg) {
            width: 400px;
        }    
    }
}