mat-expansion-panel-header{
    background-color: #550504;
}
mat-panel-title{
    padding-bottom: 30px;
    padding-top: 30px;
    font-size: 28px;
    color: white;
}

.btn-cadastrar-forum{
    background-color: #550504;
    color: #fff;
    margin-left: 30px;
    margin-top: 20px;
}
 a:hover{
    background-color: #fff;
    color:#550504;
    border: 1px solid #550504;
}