<a class="btn btn-cadastrar-forum" href="forum/novo">Cadastrar novo forum</a>
<div class="d-md-flex flex-column align-items-center">
    <mat-accordion class="w-50">
        <mat-expansion-panel [expanded]= "true" >
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Fóruns Cadastrados
                </mat-panel-title>
            </mat-expansion-panel-header>
            <app-foruns-cadastrados></app-foruns-cadastrados>
        </mat-expansion-panel>
    </mat-accordion>
</div>