.aplicacao {
  width: 100%;
  height: 100vh;
  background-color: #89c3ac;
  margin: 0px;
}
a {
  margin-top: 20px;
  margin-left: 10px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  color: #3b3b3b;
}
h1 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 98px;
  text-align: center;
  color: #550504;
  margin-bottom: 0px;
}
p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  line-height: 38px;
  color: #550504;
}
img {
  width: 50%;
}
